---
import { Image } from "astro:assets";

interface Props {
  href: string;
  src: ImageMetadata;
  alt: string;
  subtitle: string;
  title: string;
}

const { src, alt, href, subtitle, title } = Astro.props;
---

<a class="rounded-xl bg-gray-300" href={href}>
  <Image class="block w-full max-w-full h-auto rounded-tl-xl rounded-tr-xl" src={src} alt={alt} />
  <div class="px-6 py-3 uppercase">
    <p class="font-extrabold text-[0.6rem]">{subtitle}</p>
    <h2 class="font-extrabold text-xl">{title}</h2>
  </div>
</a>
